/.vs
/obj
/bin
/x64
out/*.obj
imgui.ini
*_svg-raw.pdf
*.aux
*.fdb_latemk
*.fls
*.log
*.synctex.gz
*_svg-tex.pdf
*_svg-tex.pdf_tex
*.dpth
*.md5
doc/dissertation-figure0.pdf
doc/dissertation-figure1.pdf
doc/dissertation.auxlock
doc/dissertation.toc
doc/dissertation-figure2.pdf
